@import "tailwindcss";

:root {
  --background: #f6f8fc;
  --foreground: #0e121b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f8fc;
    --foreground: #0e121b;
  }
}

html {
  background: var(--background);
  color: var(--foreground);
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
